:root {
    --primary-color: darkslategrey;
    --primary-font-color: white;
    --vertical-padding: 1px;
    --left-padding: 20px;
}

.AboutView {
    background: linear-gradient(155deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(19,157,128,1) 100%);
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    margin-top: 2px;
    font-family: 'OCR A std', monospace;

}

.Header {
    font-size: 48px;
    text-align: left;
    margin-left: var(--left-padding);
    margin-bottom: -10px;
    color: var(--primary-font-color);
}

.SubHeader {
    font-size: 20px;
    text-align: left;
    margin-left: var(--left-padding);
    color: var(--primary-font-color);
}

.Text {
    font-size: 18px;
    text-align: left;
    margin-left: var(--left-padding);
    color: var(--primary-font-color);
}