:root {
    --primary-font-color: white;
    --secondary-font-color: #7a7a7a;
    --vertical-padding: 1px;
    --left-padding: 20px;
}

.ExperienceItem {
    display: flex;
    flex-direction: row;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    margin-top: 2px;
    font-family: 'OCR A std', monospace;
}

.Header {
    font-size: 24px;
    text-align: left;
    margin-left: var(--left-padding);
    color: var(--primary-font-color);
}

.SubText {
    font-size: 18px;
    text-align: left;
    margin-left: var(--left-padding);
    color: var(--secondary-font-color);
}

.Date-Column {
    font-size: 12px;
    text-align: left;
    margin-left: var(--left-padding);
    margin-right: 90px;
    color: var(--secondary-font-color);
}

.Title {
    font-size: 18px;
    text-align: left;
    color: var(--primary-font-color);
}

.Company {
    font-size: 18px;
    color: var(--secondary-font-color);
    margin-top: -10px;
    margin-bottom: 0;
}

.Description {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    color: var(--secondary-font-color);
}