:root {
    --primary-font-color: white;
    --secondary-font-color: #7a7a7a;
    --vertical-padding: 1px;
    --left-padding: 20px;
    --other-color: rgb(5, 160, 126);
    --link-color: rgb(3, 165, 252);
}

h2 {
    font-size: 24px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: var(--left-padding);
    color: var(--primary-font-color);
    font-family: 'OCR A std', monospace;
}

.ExperienceItem {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    font-family: 'OCR A std', monospace;
}

.Date-Column {
    font-size: 14px;
    text-align: left;
    margin-left: var(--left-padding);
    margin-right: 2%;
    margin-top: 2.5%;
    width: 80%;
    color: var(--secondary-font-color);
}

.Title {
    font-size: 20px;
    text-align: left;
    color: var(--primary-font-color);
    margin-bottom: -1%;
}

.SubTitle {
    font-size: 16px;
    color: var(--secondary-font-color);
    margin-top: -1%;
    margin-bottom: 0;
}

.Accomplishment {
    margin-left: 2%;
    margin-top: 1%;
    font-size: 14px;
    color: var(--secondary-font-color);
}

.KeyAccomp {
    color: var(--primary-font-color);
}

.Link-Text {
    font-size: 16px;
    color: var(--other-color);
    text-decoration: underline;
}

a.Link:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
}

a.Link:hover h3 {
    color: var(--link-color)
}