.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  z-index: -10;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80,80,80,.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}